<link rel="stylesheet" ng-repeat="typeface in typefaces" href="http://fonts.googleapis.com/css?family={{typeface.family}}"/>
<!-- <link href='Roboto+Slab' rel='stylesheet' type='text/css'> -->

<md-content class="md-padding mdc-bg-blue-grey-200 margin-top">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="typeface in typefaces">
      <md-card layout class="full-width">
        <md-card-content>
          <div class="md-list-item-text">
            <h1 style="font-family: '{{ typeface.family }}'">{{ typeface.family | filter:search }}</h1>
            <p>
              <span ng-repeat="variant in typeface.variants track by $index">
                {{ variant }}
              </span>
            </p>
          </div> <!-- end .md-list-item-text -->
        </md-card-content>
      </md-card>
    </md-list-item>
  </md-list>
</md-content>