<link rel="stylesheet" ng-repeat="typeface in typefaces" href="http://fonts.googleapis.com/css?family={{typeface.family}}"/>

<md-content class="md-padding mdc-bg-blue-grey-100 margin-top">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="typeface in typefaces">
      <md-card class="full-width">
        <md-card-content>
          <div class="md-list-item-text">
            <div layout="row">
              <h1 style="font-family: '{{typeface.family}}'">{{ typeface.family | filter:search }}</h1>
            </div>

            <div layout="row">
              <md-button ng-repeat="variant in typeface.variants track by $index" layout="column" flex>
                <p class="center-text">{{ variant }}</p>
              </md-button>
            </div>
          </div> <!-- end .md-list-item-text -->
        </md-card-content>
      </md-card>
    </md-list-item>
  </md-list>
</md-content>